
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Verdana;
    color: #000000;

}


/* nav */

.logo {
    width: 300px;
    height: 300px;
    cursor: pointer;
    padding-top: 20px;
  }
  
  .contact-nav{
    list-style: none;
    
  }
  
  .contact-nav li{
    display: inline-block;
  }
  
  .contact-nav li a{
    transition: all 0.3s ease 0s;
    font-family: 'Spicy Rice', cursive;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    padding: 10px;
  }
  .contact-nav li a:hover{
    background-color: #F1A355;
    color: #FBFBFA;
    
  }
  
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 10% ;
    height: 150px;
  }


  /* contact */
  #contact-pic-wrapper {
    width: 50%;
  }
  
  #contact-pic {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

#myForm{
  display: flex;
  width: 100%;
  height: 100vh;
}

.contact-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  align-items: center;
  background-color: #FBFBFA;
}

.contact-wrapper h2{
  text-align: center;
  text-transform: uppercase;
  color: #F1A355;
  font-family:  'Spicy Rice', cursive;
  font-size: 45px;
  padding: 20px;
}

.input-field{
  margin-bottom: 10px;
}

.input-field{
  border: 1px solid #000000;
  padding: 10px;
  background: transparent;
}

.contact-wrapper textarea{
  height: 80px;
}

.btn {
  border: 0;
  margin-top: 15px;
  padding: 10px;
  background: #F1A355;
  color: #FBFBFA;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  letter-spacing: 5px;
}

#error{
  text-align: center;
  background: red;
  transition: all 0.5s ease;
  color: #FBFBFA;
  margin-bottom: 20px;
}

label{
  color: #F1A355;
}


/* footer */

.contact-footer-distributed .footer-icon p {
  color: #FBFBFA;
  font-size: 14px;
  margin: 0;
}

.contact-footer-distributed {
  width: 100%;
  height: auto;
  font: normal 16px sans-serif;
  padding: 45px 50px;
  display: inline-block;
  background: #F1A355;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  padding: 10px;
}

.contact-footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #FBFBFA;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
  padding-top: 10px;
}

.contact-footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.contact-footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #FBFBFA;
  display: inline-block;
  padding-right: 5px;
}


.contact-footer-distributed .footer-link a {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: #F1A355;
  border-radius: 2px;
  font-size: 30px;
  color: #FBFBFA;
  text-align: center;
  line-height: 45px;
  margin-left: 3px;
  transition:all .25s;
}

.contact-footer-distributed .footer-right a:hover{transform:scale(1.1);}

.contact-footer-distributed p.footer-links a:hover{text-decoration:underline;}


/* media querries */

@media screen and (max-width: 480px) { 
  /* CSS Code for when the screen size is 480px Screen size */
}
@media screen and (max-width: 1020px) { /* Large Desktop */ }
@media screen and (max-width: 780px) { /* tablet */ }
@media screen and (max-width: 480px) { /* mobile */ }